#menuHeader {
	position:fixed !important;
	width: 100%;
	top:0px;
	z-index:  999999;
	background:#aed920;
	text-align:center;
}

.submenu {
	margin:0px;
	padding:0px;
	position: absolute;
	z-index:999999;
}

.menu{
	margin:0px;
	width:100%;
	background:#aed920;
	font-size:14px;
}


.menulink {
	display:inline-block;
}


.menulink a {
	display:block;
	height: 50px;
	padding-left:20px;
	padding-right:20px;
	text-align: center;
	line-height: 50px;
	font-family:Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

.submenu li a{
	text-align: left;
	text-decoration: none;
	font-size:14px;
}

.menulink:hover a{
	color: #0e2971;
	text-decoration: none;
	background: #aed920;
}

.menulink:hover ul a {
	background: #4cc7f1;
	color: #0e2971;
	height: 40px;
	line-height: 40px;
}


.menulink:hover ul a:hover {
	background: #aed920;
	color: #0e2971;
}


.menulink ul {
	display: none;
}


.menulink ul li {
	display: block;
	float: none;
}


.menulink ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}


.menu li a:hover + .submenu, .submenu:hover, .menu li a:focus + .submenu, .submenu:focus, .menu li a:active + .submenu, .submenu:active {
	display: block;
}


.show-menu {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #ffffff;
	background: #aed920;
	text-align: center;
	padding: 10px 0;
	margin:0px;
	display: none;
	font-size:14px
}


#menuHeader input[type=checkbox]{
    display: none;
}


#menuHeader input[type=checkbox]:checked ~ .menu{
    display: block;
}


@media screen and (max-width : 760px){
	
	.menu {
		position: static;
		display: none;
	}
	
	
	.submenu:first-child{
		margin-top:10px;
	}
	
	.submenu li:first-child{
		margin-top:0px;
	}
	
	
	.menu li, li a {
		width: 90%;
	}
	
	.submenu li{
		margin-left:0px;
		padding-left:0px;
	}
	
	.submenu li a{
		text-align:center;
	}
	
	.show-menu {
		display:block;
	}
}


body{
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	width:100%;
}

.titulo, .titulo-noticia{
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	padding-bottom:10px;
	color:#0e2971;
	font-size:24px;
	padding-top:50px;
	padding-bottom:20px;
	font-weight:bold;
}

.titulo-noticia{
	color:#0e2971;
	font-size:20px;
	padding:10px;
}


.content{
	background:#FFFFFF;
	text-align:center;
	width:100%;
}

.sub-content{
	width:60%;
	margin:0 auto;
}

@media screen and (max-width: 1400px){
	.sub-content{
		width:80%;
	}
}

@media screen and (max-width: 1000px){
	.sub-content{
		width:90%;
	}
	
}

.conteudo, .conteudo-item{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	display:inline-block;
	padding-top:0px;
	padding-bottom:0px;
	text-align:center !important;
	vertical-align:top
}

.conteudo-item{
	margin-left:30px;
	margin-right:30px;
}

.corpo-conteudo{
	margin:auto;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#727272;
	text-align:left;
	padding-left:10px;
}

.subconteudo, .subconteudo2{
	min-height:100px;
	max-width:300px;
	margin-left:0px;
	margin-right:0px;
	float:left;
	margin-bottom:10px;
}

.subconteudo2{
	min-height:150px;
	max-width:800px;
}

.div-fields, .div-fields label{
	text-align:left;
	padding-right:10px;
	padding-bottom:5px;	
	float:left;
	color:#808080;
	font-size:14px;
	font-weight:100;
	font-family:Arial, Helvetica, sans-serif
}

.fields, .fields2, .fields3{
	width:280px;
	height:30px;
	padding-left:3px;
	border:1px solid #cccccc;
	font-size:14px;
}

.fields3{
	width:260px;	
}

.textarea, .textarea2, .requisitos{
	width:570px;
	border:1px solid #cccccc;
	resize:none;
	
}

.requisitos{
	width:280px;	
}

.fields2, .textarea2{
	background-color:#f1f1f1	
}



@media screen and (max-width: 800px) {
	.textarea, .textarea2{
		width:400px;
	}
}

@media screen and (max-width: 600px) {
	.textarea, .textarea2, .fields, .fields2{
		width:220px;
	}
}

.button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	height:30px;
	width:100px;
	background-color:#aed920;
	border:none;
	float:right; 
	display:inline-block;
	color:#FFFFFF;
}

.pesquisa input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	width:200px;
	height:28px;	
	float:left;
	background-color:#081f5d;
	border:1px solid #081f5d;
	padding:3px;
	padding-left:10px;
	color:#ffffff;
	border-radius: 4px 0px 0px 4px;
}

.pesquisa input::-webkit-input-placeholder{
	color:#ffffff;
}

.pesquisa button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;	
	width:35px;
	height:28px;
	float:left;
	background-color:#081f5d;
	border:none;
	border-radius: 0px 4px 4px 0px;
}

#estagio{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:100;
	min-width:280px;
	width:100%;	
	border:1px solid #cccccc;
	
}

#estagio th, #estagio td{
	padding:10px;
	text-align:left;	
}

#estagio th{
	background-color:#cccccc;
}

#estagio tr:nth-child(even) {
    background-color: #f1f1f1;
}

/*-------------------------------------------------- FOOTER BOOTSTRAP -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}



